.navBar {
  display: flex;
  width: 100svw;
  justify-content: space-around;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: darkgrey;
  //   padding: 1.3rem;

  & .menuItem {
    padding: 1.3rem;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: gray;
    }

    & .moreDiv {
      position: absolute;
      top: -400%;
      right: -50%;
      min-width: max-content;
      background-color: darkgrey;
      transform: rotateY(60deg);
      transition: transform 0.4s ease;

      &.visible {
        display: block;
        top: 100%;
        transform: scale(1);
      }
    }
  }
}

